.border{
    border:1px solid rgb(255, 0, 0)
}
.flex{
    display: flex;
}
.borderRadius{
    border-radius: 10px;
}
.flexC{
    display: flex;
    flex-direction: column;
}
.invert{
    filter: invert(1);
}
.mirror{
    transform: scaleX(-1);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* scrollbar color */
  border-radius: 8px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}